<div class="background-register">
  <div class="container">
    <div style="margin-top:50px;" class="col-md-12 col-md-offset-12 col-sm-12 col-sm-offset-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title login-title">注册</div>
        </div>
        <form action="/login/create" method="post">
          <div style="padding-top:30px" class="panel-body">
            <div style="margin-bottom: 25px" class="input-group">
              <input type="text" placeholder="用户名" class="form-control" name="usename">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <input type="password" placeholder="输入密码" class="form-control" name="password">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <input type="password" placeholder="确认密码" class="form-control">
            </div>
            <div style="margin-top:10px" class="form-group">
              <input type="submit" value="注册" class="form-control btn btn-primary">
            </div>
          </div>
        </form>
      </div>
      <div class="go-register">
        <a href="/login/index">已有账号？立即去登录~</a>
      </div>
    </div>
  </div>
</div>
